<div class="row">
  <div class="col-md-4">
    <%= simple_form_for :sign_in, {url: sign_in_path} do |f| %>
      <%= f.error_notification %>

      <%= f.input :email, placeholder: 'Enter email' %>
      <%= f.input :password, placeholder: 'Password' %>

      <%= f.button :submit, "Sign in", class: 'btn-primary' %>
    <% end %>
  </div>
</div>

