<div class="row">
  <div class="col-md-12">
    <div class="header-with-button">
      <h1>Topics</h1>
      <%= link_to "Add Topic", new_topic_path, class: "btn btn-default btn-success" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class='data-table'>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
          <tr>
            <td><%= topic.title %></td>
            <td><%= topic.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      
    </div>
    

  </div>  
</div>

