<h1>Add New Topic</h1>
<div class="row">
  <div class="col-md-4">
    <%= simple_form_for @topic do |f| %>
      <%= f.input :title %>
      <%= f.input :body %>
      <%= f.button :submit %>
    <% end %>  
  </div>
</div>