@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 70px;
}

ul.nav.navbar-nav {
  float: right;
}

#user-email {
  margin-top: 11px;
  color: #fff;
  font-size: 18px;
}

.header-with-button {
  h1 {
    float: left;
  }

  .btn {
    margin-top: 25px;
    margin-left: 30px;
  }
}